.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0,0,0,0.75);
}
.modal{
    position: fixed;
    top: 30vh;
    left: 10%;
    width: 80%;
    z-index: 100;
    overflow: hidden;
}
.header{
    background: #4f004f;
    padding: 0.5rem;
}
.header h2{
    margin: 0;
}
.content{
    margin-top: 2rem;
    background: #fff;
}
.content p{
    padding: 0.5rem;
}
.actions{
    padding-left: 80%;

}
.actions Button{
    margin-bottom: 1rem;
    height: 2.5rem;
    border-radius: 10px;
}
